## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VS
.vs/
launchSettings.json

## SQLite database
*.db
*.db-shm
*.db-wal
Data/registrations.db

## OS
Thumbs.db
.DS_Store

## Secrets
appsettings.Development.json
